<table>
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Status</th>
	</tr>

	<% @list.each do |item| %>
	<tr>
		<td><%= item.id %></td>
		<td><%= item.name %></td>
		<td><%= button_to item.completed.to_s, todo_item_path(item), method: :patch %></td>
		<td><%= button_to 'Delete', todo_item_path(item), method: :delete %></td>
	</tr>
	<% end %>
	<br>
</table>


<%= form_for :todo_item, url: todo_items_path do |f| %>
<p>
	<%= f.label :name %><br>
	<%= f.text_field :name %>
</p>

<p>
	<%= f.submit %>
</p>
<% end %>
